<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <!-- SEO -->
  {% seo %}
  
  <!-- Theme Mode -->
  {% if site.theme_mode %}
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#f7f7f7">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#1b1b1e">
  {% endif %}
  
  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  
  <!-- JavaScript -->
  <script src="{{ '/assets/js/theme-toggle.js' | relative_url }}" defer></script>
</head>
